<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>
  <a href="/update-recipes/Perfect_Iced_Coffee/47024" id="update-recipes" class="btn btn-success">Go to recipe</a>
</body>
<script type="text/javascript" src="/javascripts/ajax-scrapping.js"></script>
<!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->

</html>
